<h3>$hero.getName()</h3>

<h4>Attack: $hero.getAttack()</h4>
<h4>Defense: $hero.getDefense()</h4>
<h4>Personality: $hero.getPersonality()</h4>
<h4>Health: $hero.getHealth()</h4>

<a href="/squad/$squadId">Back to Squad</a><br>
<a href="/">Home</a>
